body{
  font-family: 'Indie Flower', cursive;
  background: url('img/TheySeeMeRolling.jpg') no-repeat center center fixed;
}

#header{
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  height:8em;
  background-color: #40B2E8;
  opacity: .8;
}

#heading{
  font-size: 4.25em;
}

#subheading{
  font-size: 2.75em;
}

@media all (max-width: 690px){
  #heading{
    font-size: 2.75em;
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  #subheading{
    display:none;
  }
}

.container{
  padding: 1em 2em;
  margin: auto;
  width: 80%;
  margin-top: 1em;
  position: relative;
  background-color: rgba(64,178,232,.8);
}

figure{
  clear: both;
  display: block;
  margin-left: auto;
  margin-bottom: 1.5em;
  margin-right: auto;
  width: 33.781em;
  max-width: 100%;
}

figcaption{
  font-size: 1vw;
}

.content h2{
  font-size: 3.7em;
  font-weight: bold;
}

.content p{
  font-size: 2.25em;
  display: block;
  padding-bottom: 1em;
  padding-top: .5em;
}

#bold{
  font-weight: bold;
  font-size: 1.25em;
}

#links {
  font-family: 'Bitter', serif;
}

.btt{
  width: 8em;
  height: 8em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background:url('img/btt.png') no-repeat center;
  display: none;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
