body{
  font-family: 'Indie Flower', cursive;
  background: url('img/TheySeeMeRolling.jpg') no-repeat center center fixed;
}

#header{
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  height:8em;
  background-color: #40B2E8;
  opacity: .8;
}

#heading{
  font-size: 2.25em;
}

#subheading{
  font-size: 2.75em;
}

.container{
  padding: 1em 2em;
  margin: auto;
  width: 80%;
  margin-top: 1em;
  position: relative;
  background-color: rgba(64,178,232,.8);
}

figure{
  clear: both;
  display: block;
  margin-left: auto;
  margin-bottom: 1.5em;
  margin-right: auto;
  width: 33.781em;
  max-width: 100%;
}

figcaption{
  font-size: 1vw;
}

.content h2{
  font-size: 3.7em;
  font-weight: bold;
}

.content p{
  font-size: 2.25em;
  display: block;
  padding-bottom: 1em;
  padding-top: .5em;
}

#bold{
  font-weight: bold;
  font-size: 1.25em;
}

#links {
  font-family: 'Bitter', serif;
}

.btt{
  width: 8em;
  height: 8em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background:url('img/btt.png') no-repeat center;
  display: none;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.flexbox{
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: row;

  display:flex;
  flex-direction:row;
}

.flexbox iframe{
  display: inline-flex;
  margin-bottom: 1em;
}

@media all and (min-width: 48em) {

.no-flexbox iframe{

    width: 100%;
    display: block;
}

    .flexbox {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    iframe .flexbox {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
}
