body {
    font-family: 'Roboto', sans-serif;
    background-color: #129894;
    color: whitesmoke;
    padding-bottom: 5em;
    background-image: url('images/zk5.png');
    background-repeat: repeat;
}

#header {
  position: relative;
  height: 256px;
}

.brand img{
  display: block;
  width: 100%;
  max-width: 435px;
  height: auto;
}

@media (max-width: 590x) {
  .brand h1{
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 767px) {
    input{
      -webkit-appearance: none;
      -moz-appearance: none;
      -ie-appearance: none;
      -webkit-text-size-adjust: 100%;
      -mox-text-size-adjust: 100%;
      -ie-text-size-adjust: 100%;
      text-size-adjust: 100%;
      display: block;
      margin: 0;
      margin-bottom: 20px;
      width: 100%;
      height: 2em;
      line-height: .75em;
      font-size: 1em;
      border: 0.1em solid #ccc;
      background-color: ghostwhite;
    }
}

#content{
  padding: 16px 32px;
  margin-top: 1em;
  position: relative;
  background-color: darkblue;
  display: relative;
  opacity: .8;
}

#content p{
  display: block;
  color: navajowhite;
  padding-bottom: 2em;
}

#content:hover {
  opacity: 1;
}

#form{
  line-height: 2em;
  font-size: 1.08em;
  margin-top: -2em;
  text-align:left;
  color: navajowhite;
}

#form label {
  display:block;
}

#form input {
  display:block;
  margin-bottom: 1em;
}

#form input:hover{
  color: navajowhite;
  background-color: whitesmoke;
  border-radius: .5em;
}

#reset {
  background-color: darkblue;
  color: navajowhite;
  display:block;
  padding: .5em;
}

#submit {
  background-color: darkblue;
  color: navajowhite;
  padding: .5em;
}

#footer {
  height: 8em;
  clear: both;
  background: #b7deed; /* Old browsers */
  background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

#footer-links li{
  list-style-type: none;
}

#footer-links li a img{
  border-radius: 0.625em;
  text-decoration: none;
  display: inline-block;
}

#footer-wrapper {
  float: left;
  width: 10%;
  margin: none;
}

#footer-links {
  float: left;
  width: 30%;
  margin: 2.5% 2.5%;
}
