body {
    font-family: 'Roboto', sans-serif;
    background-color: #129894;
    color: whitesmoke;
    padding-bottom: 5em;
    background-image: url('images/zk5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#header {
  position: relative;
  height: 8em;
}

.brand img {
  display: block;
  max-width: 23.438em;
  height: auto;
}

.brand h1 {
  display: inline-block;
  text-align:left;
}

@media only screen and (min-width: 47.938em) {
    input{
      -webkit-appearance: none;
      -moz-appearance: none;
      -ie-appearance: none;
      -webkit-text-size-adjust: 100%;
      -mox-text-size-adjust: 100%;
      -ie-text-size-adjust: 100%;
      text-size-adjust: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 1.25em;
      width: 80%;
      max-width: 50em;
      height: 2em;
      line-height: .75em;
      text-align: left;
      font-size: 1em;
      border: 0.1em solid #ccc;
      background-color: ghostwhite;
    }
    label{
      display: block;
      margin: 0 auto;
      width: 80%;
      max-width: 50em;
      height: 1.8em;
      line-height: 1em;
      text-align: left;
      font-size: 1em;
    }
}

#content{
  padding: 1em 2em;
  margin: auto;
  width: 80%;
  margin-top: 1em;
  position: relative;
  background-color: darkblue;
  opacity: .8;
}

#content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 24.313em;
  height: auto;
}

#content p{
  display: block;
  color: navajowhite;
  padding-bottom: 2em;
  padding-top: 1em;
}

#content:hover {
  opacity: 1;
}

#form{
  display: block;
  padding: 0em 2em;
  line-height: 2em;
  font-size: 1.08em;
  margin: 0 auto;
  width: 50%;
  text-align:left;
  color: navajowhite;
}

#form label{
  text-shadow: darkblue .125em .125em;
}

#form label::after {
  content: ' : ';
}

#form input {
  margin-bottom: 1em;
  line-height: 1em;
}

#form input:hover{
  color: black;
  background-color: whitesmoke;
  border-radius: .5em;
}

#reset {
  background-color: darkblue;
  color: navajowhite;
  text-align: center;
  padding: .5em;
}

#submit {
  background-color: darkblue;
  color: navajowhite;
  text-align: center;
  padding: .5em;
}
