body {
    font-family: 'Roboto', sans-serif;
    background-color: #129894;
    color: whitesmoke;
    background-image: url('images/zk5.png');
    background-repeat: repeat;
}

#header {
  position: relative;
  height: 256px;
}

@media (max-width: 1199px) {
  #header {
    text-align: center;
  }
}

.brand {
  text-align: center;
  float: left;
}

.brand h1 {
  display: inline-block;
  text-align: left;

}

@media (max-width: 1150px) {
  .brand {
    float: none;
  }
}

@media (max-width: 1150px) {
  .nav {
    text-align: center;
    float: none;
  }
}

.menu {
  display: inline-block;
  margin-right: -10px;
  margin-top: 50px;
  list-style-type:none;
  background-color: dodgerblue;
}

.menu > li {
  position: relative;
  float: left;
  font: 400 22px/22px 'Roboto', sans-serif;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.1px;
}

.menu > li > a {
  position: relative;
  display: inline-block;
  padding: 23px 10px 21px;
  color: #000000;
}

.menu > li.sfHover > a,
.menu > li.current > a,
.menu > li > a:hover {
  background: #edecec;
  color: #02918d;
  text-decoration: none;
}

.menu > li + li {
  margin-left: 39px;
}

.menu ul {
  position: relative;
  display: none;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  background: #ffffff;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.menu ul li.sfHover > a,
.menu ul li.current > a,
.menu ul li a:hover {
  background: #129894;
  color: #ffffff;
  text-decoration: none;
}

#content{
  padding: 16px 32px;
  margin-top: 15%;
  position: relative;
  background-color: darkblue;
}

#content form {
  text-align:left;
  color: navajowhite;
}

#content label {
  display:block;
}

#content input {
  display:block;
}


#content p{
  color: navajowhite;
}

#footer {
  height: 11.25em;
  clear: both;
  background: #b7deed; /* Old browsers */
  background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

#footer-links li{
  list-style-type: none;
}

#footer-links li a img{
  border-radius: 0.625em;
  text-decoration: none;
  display: inline-block;
}

#footer-wrapper {
  float: left;
  width: 10%;
  margin: none;
}

#footer-links {
  float: left;
  width: 30%;
  margin: 2.5% 2.5%;
}
